snapshots filter=lfs diff=lfs merge=lfs -text
snapshots/sustain_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/dough_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/freq_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/freq_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/release_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_2.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_2.png filter=lfs diff=lfs merge=lfs -text
snapshots/decay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/decay_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/dough_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/freq_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/freq_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/_all.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/_all.png filter=lfs diff=lfs merge=lfs -text
snapshots/attack_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/attack_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/release_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sustain_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpf_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpf_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/hpf_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpf_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_2.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_6.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_7.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_7.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_8.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_8.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_2.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_6.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_4.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_0.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_3.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_3.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_4.png filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_5.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/undefined_5.png filter=lfs diff=lfs merge=lfs -text
snapshots/attack_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_7.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_7.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_8.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sustain_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/decay_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_3.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_3.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_4.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_5.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_5.png filter=lfs diff=lfs merge=lfs -text
snapshots/sustain_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/attack_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/decay_1.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_6.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/sound_4.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_6.png filter=lfs diff=lfs merge=lfs -text
snapshots/sound_8.png filter=lfs diff=lfs merge=lfs -text
snapshots/voice_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/duration_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/glide_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/reset_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/pw_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/speed_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/velocity_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/gain_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/postgain_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/note_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/penv_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/vib_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/vibmod_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/pattack_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/pdecay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fm_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fmh_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fmrelease_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fms_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpq_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fma_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fmd_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fmenv_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpa_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpd_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpe_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lpr_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/lps_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpe_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpq_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpr_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hps_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpa_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/hpd_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpa_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpd_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpe_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpf_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpq_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bpr_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/bps_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/coarse_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/crush_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/distort_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/distortvol_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/fmr_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/delay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/delayfeedback_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/delaytime_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/pan_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/repeat_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/time_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/am_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/amdepth_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/verbdamp_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/verbdecay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/verbdiff_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/verbpredelay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/verb_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/rm_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/rmdepth_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/end_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/end_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/begin_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/begin_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phasersweep_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phaser_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phaser_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phasercenter_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phasercenter_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phaserdepth_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phaserdepth_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/phasersweep_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/ftype_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flangerfeedback_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flangerfeedback_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flanger_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flanger_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flangerdepth_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/flangerdepth_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorus_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorus_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorusdelay_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorusdelay_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorusdepth_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/chorusdepth_1.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/patt_0.pcm filter=lfs diff=lfs merge=lfs -text
snapshots/pdec_0.pcm filter=lfs diff=lfs merge=lfs -text
